body{
  width: 100%;
  margin: 5px;
  background-color: black;
  text-align: center;
}
@media (min-width: 900) and (max-width: 1200px){
  body{
    width: 100%;
  }
}
header{
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #5b7989;
  border: 2px solid red;
  border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
	   -webkit-border-radius: 10px 10px 0 0;
  display: flex;
}
.C1{
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


@media only screen and (max-width: 600px) {
  .C1{
    flex-flow: column;
    align-items: center;
  }
  .T1 h1{
    text-align: center;
    font-size: 2em;
  }
  #menu-principal {
    font-size: 0.7em;
  }
  .ic{
    flex-flow: column;
    font-size: 0.7em;
  }
}


.T1{
  padding: 10px 10px 10px 10px;
  margin: auto;
  width: 50%;
  height: auto;
  text-align: left;
  justify-content: space-between;
}
.T1 h1{
  padding: 10px 10px 10px 10px;
  width: auto;
  margin: auto;
  color: white;
  text-shadow: 2px 7px 3px #02010a;
  font-size: 3em;
}
.T2{
  padding: 10px 10px 10px 10px;
  width: 45%;
  margin:auto;
  justify-content: space-between;
}
#menu-principal {
  width: 100%;
  float: right;
  text-align: right;
}
#menu-principal a{
  color: white;
  padding: 5px 5px 5px 5px;
  font-size: 1.2em;
  text-decoration: underline;
  text-shadow: 2px 7px 3px #02010a;
}
#menu-principal a:hover {
    background-color: #ddd;
    color: black;
}
.C2{
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  border: 2px solid red;
}
.fotos{
  width: 100%;
  height: auto;
}
.P1{
  width: 100%;
  justify-content: center;
  background-color: #82c3a6;
}
#f1{
  padding: 10px;
  margin: auto;
  width: auto;
  height: auto;
}
#f1 img{
  width: 100%;
  max-width: 900px;
  height: auto;
  box-shadow: 10px 5px #02010a
}
#f1 img:hover{
  border: 5px solid red;
  filter: grayscale(90%) contrast(70%);
  -webkit-filter: grayscale(90%) contrast(70%);
}
.C3{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#f2{
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: auto;
  height: auto;
  justify-content: center;
}
#f2 img{
  float: left;
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid white;
  box-shadow: 10px 5px #02010a
}
#f2 img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}
#f3{
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: auto;
  height: auto;
  justify-content: center;
}
#f3 img{
  float: right;
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid white;
  box-shadow: 10px 5px #02010a
}
#f3 img:hover{
  transform: translate(-5px,20px);
  box-shadow: 2px 2px #82c3a6;
}

footer {
  width: 80%;
  height:auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  border: 2px solid red;
  border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
	   -webkit-border-radius: 0 0 10px 10px;
}
.ic{
  background-color: #C6d5c5;
  display: flex;
}
.ic p{
  width: 100%;
  height: auto;
  color: black;
  font-size: 1.2em;
}
.ic h2{
  text-shadow: 2px 7px 3px #02010a;
  font-size: 3em;
}
.box{
  width: 100%;
  height: auto;
  align-items: center;
}
.box a{
  color: black;
  width: 100%;
  height: auto;
}
